Host lab
    User golikovp
    HostName cs.toronto.edu

Host ece552
    User golikovp
    HostName ug51.eecg.utoronto.ca

Host vector-vaughan
    User golikovp
    HostName vremote1.vectorinstitute.ai
